body {
  margin: 0 0;
  background-color: #ECF0F1;
  font-family: "Open Sans", sans-serif;
}

#wrapper {
  margin-top: 13%;
  text-align: center;
}

h1#title {
  font-size: 120px;
  margin-bottom: 0px;
  font-weight: 700;
}

div#meter {
  margin-top: 2%;
  width: 75%;
  position: relative;
  background: #555;
  height: 40px;
  border-radius: 45px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin: auto;
}
